@model IEnumerable<DataLayer.Product_Comments>
@foreach (var item in Model.Where(a => a.ParentID == null))
{
        <li>
            <a onclick="ReplyComment(@item.ProductCommentID)" class="reply-button">پاسخ</a>
            <img src="~/Content/img/avatar.jpg" width="65">
            <div>
                <h5>ارسال شده از : @item.UserName در تاریخ : @item.CreateDate.ToString("yyyy/MM/dd") </h5>
                <p>
                    @item.Commnet
                </p>
            </div>
            <div class="clearfix"></div>
            @if (Model.Any(a => a.ParentID == item.ProductCommentID))
            {
                <ul>
                    @foreach (var sub in Model.Where(a => a.ParentID == item.ProductCommentID))
                    {
                        <li>
                            
                            <img src="~/Content/img/avatar.jpg" width="65">
                            <div>
                                <h5>ارسال شده از : @sub.UserName در تاریخ : @sub.CreateDate.ToString("yyyy/MM/dd") </h5>
                                <p>
                                    @sub.Commnet
                                </p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    }

                </ul>
            }
        </li>
}