@model DataLayer.ViewModels.LoginViewModel

@{
    ViewBag.Title = "ورود";
}

<h2>ورود به حساب کاربری</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @if (User.Identity.IsAuthenticated && Request.QueryString["ReturnUrl"] != null)
        {
            <div class="alert alert-danger">
                دسترسی شما به آدرس وارد شده محدود است!
            </div>
        }
        @if(Request.QueryString["recovery"] != null)
            {
            <div class="alert alert-success" >
                <p>
                    کلمه عبور شما با موفقیت تغییر کرد
                </p>
                <p>
                    برای ورود به سایت مام کاربری و کلمه عبور جدید را وارد نمایید!
                </p>
            </div>
        }

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.RememberMe)
                    @Html.ValidationMessageFor(model => model.RememberMe, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="alert alert-link" >
            <a href="/ForgotPassWord">
                فراموشی رمز عبور
            </a>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ورود" class="btn btn-success" />
            </div>
        </div>
    </div>
}
